@font-face {
    font-family: Lemon;
    src: url(font/lemon.otf);
}

@font-face {
    font-family: Baby;
    src: url(font/baby.otf);
}

@font-face {
    font-family: God;
    src: url(font/GODOFWAR.TTF);
}

@font-face {
    font-family: Snowy;
    src: url(font/Snowy\ Season.ttf);
}

@font-face {
    font-family: Fire;
    src: url(font/Blazed.ttf);
}

@font-face {
    font-family: Kiona;
    src: url(font/Kiona-Regular.ttf);
}

@font-face {
    font-family: Hello;
    src: url(font/Hello.otf);
}

a{text-decoration: none; font-family: Kiona;}
h1{font-family: Hello;}
ul{list-style: none; display: flex;}


a:hover{
    
    background:white;
}
hr{color: whitesmoke; width: 80%; margin: auto;}
p{font-family: Social;}
@media (max-width:600px) {
    h1{font-size: 3rem;}
    a{font-size: 1rem;}
    .container{margin-top: 14px;}
    body{background: url(wp2757844-wallpaper-gif.gif); background-size: cover;}
}

@media (min-width:600px) {
    a{font-size: 1.4rem;}
    h1{font-size: 3.5rem;}
    .container{margin-top: 2%;}
    body{background: url(wp2757844-wallpaper-gif.gif); background-size: cover;}
  
}



@font-face {
    font-family: Social;
    src: url(font/social.ttf);
}